.card {
  width: 15rem;
  height: 20rem;
  transform: translateY(20%);
  margin-left: 70%;
  background-size: cover;
  border-radius: 25%;
  box-shadow: #5d636d 0px 0px 10px;
}

.card:hover {
  box-shadow: none;
}

.card-img-top {
  position: relative;
  width: 100%;
  height: 80%;
  border-radius: 25%;
}

.card-body {
  background-color: #000000;
  border: none;
  font-size: 20px;
  font-weight: 600;
  margin-left: 25%;
  position: relative;
  top: 80%;
}

.btn-primary {
  position: absolute;
  transform: translateY(-430%);
  left: 5%;
  color: #000000;
}

.btn-primary:hover {
  color: #005eff;
}
